.side-bar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .brand {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #216dd9;
  }

  .ant-menu {
    flex: 1;
  }

  .hamburger {
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
  }
}