.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 8px;
  background: #fff;
  border-radius: 4px;
  .left-table-filter {
    flex: 1;
    margin-right: 20px;
  }
}