.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;

  .left-table-filter {
    flex: 1;
    margin-right: 20px;
  }
}