.global-content-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);

  .title-box {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .slot-box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}