.topbar {
  box-shadow: 0 2px 8px #00000026;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;

  .web-title {
    font-size: 18px;
    color: #000;
    display: flex;
    align-items: center;

    .ant-breadcrumb {
      margin-left: 8px;
    }
  }

  .user-info {
    cursor: pointer;
  }
}